<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="./TestPage.css" />
    <title>Razor</title>
    <script src="./LoadPackages.js"></script>
    <script src="./TestPage.js"></script>
</head>
<body style="font-family: 'Segoe UI'; font-size: 14px;">

    <div class="TabControl" id="tabMain" data-navigation="true">
        <div class="TabButtonContainer">
            <div class="TabButton" data-url="/expressions">Expressions</div>
            <div class="TabButton" data-url="/statements">Statements</div>
            <div class="TabButton" data-url="/functions">Functions</div>
            <div class="TabButton" data-url="/codes">Codes</div>
        </div>

        <div class="TabPageContainer">
            <div class="TabPage">
                <script id="razor_expressions_1" type="text/plain">
                    @package RazorTest
                    @model User

                    <p>
                        Hi, my name is <b>@model.name</b>.<br />
                        I am @model.age years old.<br />
                        @if (model.gender !== Gender.Description.Unknown) {
                            @:I am a @(model.gender === Gender.Description.Male ? "man" : "woman").<br />
                        }
                    </p>
                </script>
            </div>
            <div class="TabPage">
            </div>
            <div class="TabPage">
                <script id="razor_expressions_1" type="text/plain">
                    @package RazorTest
                    @model User

                    @function PrintName(){
                        Hi, my name is @model.name.<br>
                    }

                    @function PringAge(user){
                        I am @user.age years old.<br>
                    }

                    @function PrintGender(user, useless){
                        @if (user.gender !== Gender.Description.Unknown) {
                            @:I am a @(user.gender === Gender.Description.Male ? "man" : "woman").<br>
                        }
                    }

                    <p>
                        @Html(PrintName(model))
                        @Html(PringAge(model))
                        @Html(PrintGender(model))
                    </p>
                </script>
            </div>
            <div class="TabPage">
                <script id="razor_expressions_1" type="text/plain">
                    @package RazorTest
                    @model User

                    @{
                        function PrintName(user) {
                            return "Hi, my name is " + user.name+ ".";
                        }

                        function PringAge(user) {
                            return "I am " + user.age + " years old.";
                        }

                        function PrintGender(user) {
                            if (user.gender !== Gender.Description.Unknown) {
                                return "I am a " + (user.gender === Gender.Description.Male ? "man" : "woman") + ".";
                            }
                            else {
                                return "";
                            }
                        }
                    }

                    <p>
                        @PrintName(model)<br />
                        @PringAge(model)<br />
                        @PrintGender(model)<br />
                    </p>
                </script>
            </div>
        </div>

    </div>

    <script>
        Packages.Define("RazorTest", ["Class"], function (__injection__) {
            eval(__injection__);

            function FQN(name) {
                return "<RazorTest>::" + name;
            }

            var Gender = Enum("Gender", {
                Unknown: 0,
                Male: 1,
                Female: 2,
            });

            var User = Struct("Person", {
                name: "",
                age: 0,
                gender: Gender.Description.Unknown,
            });

            return {
                Gender: Gender,
                User: User,
            }
        });
    </script>

    <script>
        function SetupRazorTabControl(tabControl) {
            SetupTabControl(tabControl);
            for (var i = 0; i < tabControl.TabPages.length; i++) {
                var tabPage = tabControl.TabPages[i];
                var scripts = tabPage.getElementsByTagName("script");

                var table = document.createElement("table");
                tabPage.appendChild(table);
                {
                    var tr = document.createElement("tr");
                    table.appendChild(tr);
                    {
                        var th = document.createElement("th");
                        tr.appendChild(th);
                        th.appendChild(document.createTextNode("Razor Script"));
                    }
                    {
                        var th = document.createElement("th");
                        tr.appendChild(th);
                        th.appendChild(document.createTextNode("JavaScript"));
                    }
                    {
                        var th = document.createElement("th");
                        tr.appendChild(th);
                        th.appendChild(document.createTextNode("Result"));
                    }
                }

                for (var j = 0; j < scripts.length; j++) {
                    var script = scripts[j];
                    var razorScript = RazorReIndent(script.innerHTML);
                    var javaScript = RazorToJs(razorScript);

                    var tr = document.createElement("tr");
                    table.appendChild(tr);
                    {
                        var td = document.createElement("td");
                        tr.appendChild(td);

                        var pre = document.createElement("pre");
                        td.appendChild(pre);
                        pre.appendChild(document.createTextNode(razorScript));
                    }
                    {
                        var td = document.createElement("td");
                        tr.appendChild(td);

                        var pre = document.createElement("pre");
                        td.appendChild(pre);
                        pre.appendChild(document.createTextNode(javaScript));
                    }
                    {
                        var td = document.createElement("td");
                        tr.appendChild(td);
                    }
                }
            }
        }

        InitializeNavigation("~", TabRootController);
        SetupRazorTabControl(tabMain);
        StartNavigation("expressions");
    </script>
</body>
</html>
