body {
    font-family: 'Segoe UI';
    font-size: 14px;
}

.DocumentView {
    width: calc(100% - 2em);
    margin: 1em;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    border-spacing: 0px;
    border-collapse: separate;
}

    .DocumentView td {
        border-right: 1px solid gray;
        border-bottom: 1px solid gray;
    }

    .DocumentView .DocumentCell {
        display: block;
        height: 100%;
        overflow-y: scroll;
    }

    .DocumentView .DocumentIndex {
    }

    .DocumentView .DocumentContent {
        vertical-align: text-top;
    }

.DocHyperlink {
    color: green;
}

.DocName {
    font-weight: bold;
}

.DocKeyword {
    color: blue;
}

.DocNotImportant {
    color: gray;
}

.DocError {
    color: red;
}
