body {
    font-family: 'Segoe UI';
    font-size: 14px;
}

.DocumentView {
    width: calc(100% - 2em);
    margin: 1em;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    border-spacing: 0px;
    border-collapse: separate;
}

.DocumentTitle {
}

.DocumentView td {
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

.DocumentCell {
    height: 100%;
}

.DocumentDiv {
    display: block;
    overflow-y: scroll;
}

.DocumentIndex {
    padding: 1em;
}

.DocumentContent {
    padding: 1em;
}

.DocHyperlink {
    color: green;
}

.DocName {
    font-weight: bold;
}

.DocKeyword {
    color: blue;
}

.DocNotImportant {
    color: gray;
}

.DocError {
    color: red;
}

.DocComment {
    color: purple;
}

.DocLayoutTable {
    border-spacing: 0px;
    border-collapse: separate;
    margin-left: 2em;
}

    .DocLayoutTable td {
        border-width: 0;
    }
