body {
    font-family: 'Segoe UI';
    font-size: 14px;
}

.DocumentView {
    width: calc(100% - 2em);
    margin: 1em;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    border-spacing: 0px;
    border-collapse: separate;
}

.DocumentTitle {
}

.DocumentView td {
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

.DocumentCell {
    height: 100%;
}

.DocumentDiv {
    display: block;
    overflow-y: scroll;
}

.DocumentIndex {
    padding: 1em;
}

.DocumentContent {
    padding: 1em;
}

.Tooltip {
    display: block;
    position: absolute;
    height: 0.8em;
}

.TooltipHeader {
    display: block;
    position: relative;
    margin-left: 1em;
    z-index: 1;
}

.TooltipHeaderBorder {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 0.5em solid black;
}

.TooltipHeaderFill {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 1px;
    top: 1px;
    border-left: calc(0.5em - 1px) solid transparent;
    border-right: calc(0.5em - 1px) solid transparent;
    border-bottom: calc(0.5em - 1px) solid cornsilk;
}

.TooltipContainer {
    margin-top: calc(0.5em - 1px);
    border: 1px solid black;
    padding: 0.5em;
    background-color: cornsilk;
    z-index: 0;
}

.TooltipContent {
    display: none;
}

a.DocHyperlink {
    color: green;
    cursor: pointer;
    text-decoration: none;
}

    a.DocHyperlink:hover {
        text-decoration: underline;
    }

.DocName {
    font-weight: bold;
}

a.DocName {
    color: black;
    text-decoration: none;
}

    a.DocName:hover {
        text-decoration: underline;
    }

.DocKeyword {
    color: blue;
}

.DocNotImportant {
    color: gray;
}

.DocError {
    color: red;
}

.DocComment {
    color: purple;
}

.DocLayoutTable {
    border-spacing: 0px;
    border-collapse: separate;
    margin-left: 2em;
}

    .DocLayoutTable td {
        border-width: 0;
        border-color: lightgray;
    }

        .DocLayoutTable td.DocClassMemberCell {
            vertical-align: top;
            border-top-width: 1px;
            border-top-style: solid;
            border-top-color: #F0F0FF;
        }
