.TreeNodeContainer {
    list-style: none;
    padding-left: 0;
}

    .TreeNodeContainer.Expanded {
        margin-left: 1.2em;
    }

    .TreeNodeContainer.Collapsed {
        display: none;
    }


.TreeNodeDecorator {
    float: left;
    min-width: 2.4em;
    display: block;
    font-family: 'Consolas';
    text-decoration: none;
    color: #808080;
    cursor: pointer;
}

    .TreeNodeDecorator:hover {
        color: #ff5000;
    }

.TreeNodeTitle {
    float: left;
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: #808080;
}

    .TreeNodeTitle.Selected {
        font-weight: bolder;
        color: #000000;
    }

    .TreeNodeTitle:hover {
        text-decoration: underline;
    }

    .TreeNodeTitle.HasDoc {
        color: #0026ff;
    }

        .TreeNodeTitle.HasDoc:hover {
            color: #ff5000;
        }

        .TreeNodeTitle.HasDoc.Selected {
            font-weight: bolder;
        }

.TreeNodePostfix {
    float: left;
    display: block;
    text-decoration: none;
    color: #808080;
    margin-left: 0.5em;
}
