.TreeNodeContainer {
    list-style: none;
    padding-left: 0;
}

.TreeNodeDecorator {
    float: left;
    min-width: 2.4em;
    display: block;
    font-family: 'Consolas';
    text-decoration: none;
    color: #808080;
    cursor: pointer;
}

    .TreeNodeDecorator:hover {
        color: #ff5000;
    }

.TreeNodeTitle {
    float: left;
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: #808080;
}

    .TreeNodeTitle:hover {
        text-decoration: underline;
    }

    .TreeNodeTitle.HasDoc {
        color: #0026ff;
    }

        .TreeNodeTitle.HasDoc:hover {
            color: #ff5000;
        }

.TreeNodePostfix {
    float: left;
    display: block;
    text-decoration: none;
    color: #808080;
    margin-left: 0.5em;
}

.Expanded {
    margin-left: 1.2em;
}

.Collapsed {
    display: none;
}
